/*--------------- index ---------------*/

.home-img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home-img:hover {
    opacity: 50%;
}

.homepage {
    text-align: center;
}